*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
width:100%;
height:100%;
color:black;
}

.header{
width:100%;
height:6%;
color:black;
background:#e9edf5
}

#order{
font-size:18px;
}

#current{
font-size:18px;
}

.container{
background:powderblue;
width:100%;
height:100%
}

.btn{
width:100px;
height:50px;
color:black;
background:white;
border:none
}

.right-content{
background:#e3e1d8;
width:100%;
height:100%;
margin-left:596px;
margin-top:-910px
}

#num{
width:44%;
}

.clear{
border:none;
width:50px;
color:blue;
margin-top:-15px;
margin-right:-40px
}

.left-content{
width:50%;
height:100%;
background:#dfe2e8
}

.table{
height:30px;
margin-top:2px;
size:20px
}

#qnty{
color:black
}

table,tr,td{
border-collapse:collapse
}

.itemslist{
border:none;
}
.list{
width:140px;
height:50px;
color:black;
font-size:18px;
margin-left:80px;
list-style-type:none;
float:left;
padding-top:10px
}

tr{
border:black
}

.lowerbtns1{
float:right;
height:50px;
width:200px;
background:blue;
color:white;
margin-top:-180px;
margin-right:280px;
border:none
}

.lowerbtns2{
float:right;
height:50px;
width:170px;
color:white;
background:green;
margin-top:-180px;
margin-right:90px;
border:none
}

