*{
margin:0;
padding:0;
box-sizing:border-box
}


.logo{
padding: 20px;
float:left;

text-align: center;
}


.header{
      padding:20px;
      display:flex;
      justify-content:space-around;
      background:#FFF7F4;
      }


.menu{
   float:right;
   padding:0px 16px;
  }


 li{
   font-family: 'Poppins';
   font-style: normal;
   list-style-type:none;   
   display:inline-block;  
   margin:15px;
 }

 li:hover{
   color: #FF5300;
      }


.button{
width: 135px;
height: 50px;
background:#FFF7F4;
border-color: black;
}


.ourservices{
text-align:center;
color: #FF5300;
}


.ourservices h1{

padding:3px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 39.0625px;
line-height: 59px;
color: #373737;
}



.container2{
padding:40px;
margin-left:10%
}

.container3{
   float:left;
   width:30%;
   padding:20px
}

.service{

   font-family: 'Poppins';
   font-style: normal;   
   font-size: 18px;
   line-height: 38px;   
   color: #373737;   
}

.design{
   
   font-family: 'Poppins';
   font-style: normal;
   
   font-size: 9px;
   line-height: 19px;   
   color: #7B7B7B;


}

.description{
font-family: 'Poppins';
font-style: normal;
font-weight:10;
font-size: 13px;
line-height: 24px;
color: #7B7B7B;
   }

.image{
line-height:15px;

}

.image1{
float:right;
}

